<div class="articles">
  <% @articles.each do |article| %>
    <div class="article">
      <h2 class="article-title">
        <%= article.title %>
      </h2>
      <p class="article-description">
        <%= truncate(article.text, length: 80, separator: '') %>
      </p>

      <nav class="article-nav">
        <%= link_to 'Show', article_path(article) %>
        <% if current_user %>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Destroy', article_path(article),
                                 method: :delete,
                                 data: { confirm: 'Are you sure?' } %>
        <% end %>
      </nav>
    </div>
  <% end %>
</div>
